@page
@model DevHelper.Razor.Pages.PgSolucao.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Solucao</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Solucao.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Solucao.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Solucao.Problema)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Problema.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Solucao.Usuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Solucao.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
