@page
@model DevHelper.Razor.Pages.PgArquivoSolucao.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ArquivoSolucao</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArquivoSolucao.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArquivoSolucao.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArquivoSolucao.Referencia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArquivoSolucao.Referencia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArquivoSolucao.Solucao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArquivoSolucao.Solucao.Descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ArquivoSolucao.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
