@page
@model DevHelper.Razor.Pages.PgProblema.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Problema</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Problema.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Problema.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Problema.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Problema.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Problema.Usuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Problema.Usuario.Email)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Problema.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
